node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.npm/

.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem

/dist
/build
*.tsbuildinfo

.vscode/
.idea/
*.swp
*.swo

.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

/prisma/generated/
/generated/
*.db
*.db-journal

/arika-db-data
/mysql-data
/docker-data

/logs
*.log
/coverage
/.nyc_output
